<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a
                        href="/campgrounds">Home</a></li>

            </ul>




            <ul class="nav navbar-nav navbar-right">

                <% if(!currentUser){ %>
                <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a
                        href="/login">Login</a></li>
                <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a
                        href="/register">Sign Up</a></li>
                <% } else { %>
                <li id="notif-btn">
                    <a href="">Notifications</a>
                    <ul id="notif-ul">
                        <% var j = 0 %>
                        <% if(activities.length >0) { %>
                        <% for(var i = 0; j < 5 && i < activities.length; i++ ) {%>
                        <!-- other users' comments on own campground -->
                        <% if( activities[i].campground.author == currentUser.username && activities[i].actor != currentUser.username && activities[i].action == "comment"){%>
                        <li>
                            <a href="/campgrounds/<%=activities[i].campground.id%>">
                                <%=activities[i].actor%> commented on your campground
                                <%=activities[i].campground.name%> : "<%=activities[i].text%>"
                            </a>
                        </li>
                        <% j++ %>
                        <!-- other users posting campgrounds -->
                        <% } else if(activities[i].campground.author != currentUser.username  && activities[i].action == "post"){%>
                        <li>
                            <a href="/campgrounds/<%=activities[i].campground.id%>">
                                <%=activities[i].actor%> posted a new campground "<%=activities[i].campground.name%>".
                            </a>
                        </li>
                        <% j++ %>
                        <%}%>
                        <% } %>
                        <%} %>

                    </ul>
                </li>
                <li>
                    <a href="/users/<%= currentUser.id %>">
                        <img src="<%= currentUser.avatar.url %>" alt="" width="25px" height="25px"
                            style="border-radius: 50%;">
                        <%= currentUser.username %>
                    </a>
                </li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>

            <style>
                /* Hide Dropdowns by Default */
                nav ul ul {
                    display: none;
                    position: absolute;
                    background: white;
                    top: 40px;
                    /* the height of the main nav */
                }

                /* Display Dropdowns on Hover */
                nav ul li:hover>ul {
                    display: inherit;
                    z-index: 500;
                }

                /* Fisrt Tier Dropdown */
                nav ul ul li {
                    width: 230px;
                    float: none;
                    display: list-item;
                    position: relative;

                }
            </style>

            <!-- Axios for AJAX requests -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
            <% if (currentUser) { %>
            <script>
                 
                    var current = '<% currentUser.username%>'
                       

                var pusher = new Pusher('2e203ca4fda4e729acd6', { cluster: "ap2" });

                // retrieve the socket ID once we're connected
                pusher.connection.bind('connected', function () {
                    // attach the socket ID to all outgoing Axios requests
                    axios.defaults.headers.common['X-Socket-Id'] = pusher.connection.socket_id;
                });

                // request permission to display notifications, if we don't alreay have it
                Notification.requestPermission();


                pusher.subscribe('notifications')
                    .bind('new_comment', function (notif) {


                        console.log(notif.campground.author)
                       
                        if (notif.campground.author == current) {
                            $('#notif-btn').append('<span class="badge badge-primary badge-pill">Updated</span>');

                            var temp = document.querySelector("#notif-ul").innerHTML

                            document.querySelector("#notif-ul").innerHTML =
                                `
                            <li>
                                <a href="/campgrounds/${notif.campground.slug}">
                                    ${notif.actor} commented on your campground ${notif.campground.name} : "${notif.text}" .
                                </a>
                            </li>
                            
                            ` + temp;

                            var notification = new Notification(notif.actor + " just commented '" + notif.text + "' on " + notif.campground.name + ". Check it out.");
                            notification.onclick = function (event) {
                                window.location.href = '/campgrounds/' + notif.campground.slug;
                                event.preventDefault();
                                notification.close();
                            }
                        }

                    });


                pusher.subscribe('notifications')
                    .bind('new_post', function (notif) {
                        // if we're on the home page, show an "Updated" badge
                        $('#notif-btn').append('<span class="badge badge-primary badge-pill">Updated</span>');

                        var temp = document.querySelector("#notif-ul").innerHTML

                        document.querySelector("#notif-ul").innerHTML =
                            `
                            <li>
                                <a href="/campgrounds/${notif.campground.slug}">
                                    ${notif.campground.author} posted a new campground "${notif.campground.name}".
                                </a>
                            </li>
                            
                            ` + temp;

                        // alert(notif.campground.author)


                        var notification = new Notification(notif.campground.author + " just posted a new campgorund" + ". Check it out.");
                        notification.onclick = function (event) {
                            window.location.href = '/campgrounds/' + notif.campground.slug;
                            event.preventDefault();
                            notification.close();
                        }
                    });
            </script>
            <% } %>
        </div>
    </div>
</nav>