<%- include("../partials/header.ejs") %>


<div class="row">
    <%=activities.length%>

    <ul>
        <% activities.forEach(function(activity){ %>

        <li>

           

            <% if(activity.action === "post") { %>
            <%= activity.actor %> posted a campground <a href="/campgrounds/<%=activity.campground.id %>">
                <%= activity.campground.name %> </a>
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "edit") { %>
            <%= activity.actor %> edited <%= activity.campground.author %>'s campground <a
                href="/campgrounds/<%=activity.campground.id %>">
                <%= activity.campground.name %> </a>
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "delete") { %>
            <%= activity.actor %> deleted a campground
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "comment") { %>
            <%= activity.actor %> commented on <%= activity.campground.author %>'s campground <a
                href="/campgrounds/<%=activity.campground.id %>">
                <%= activity.campground.name %> </a> : "<%= activity.text %>"
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "edit-comment") { %>
            <%= activity.actor %> edited their comment on <%= activity.campground.author %>'s campground <a
                href="/campgrounds/<%=activity.campground.id %>">
                <%= activity.campground.name %> </a> : "<%= activity.text %>"
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "delete-comment") { %>
            <%= activity.actor %> deleted their comment on <%= activity.campground.author %>'s campground <a
                href="/campgrounds/<%=activity.campground.id %>">
                <%= activity.campground.name %> </a>
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "register") { %>
            <%= activity.actor %> registered their account on YelpCamp!
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "demand-password-reset") { %>
            <%= activity.actor %> requested for password reset!
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>

            <% if(activity.action === "password-reset") { %>
            <%= activity.actor %> Reset their password successfully!
            <%= moment(activity.createdAt).fromNow() %>
            <% } %>


        </li>

        <%})%>
    </ul>






</div>

<%- include("../partials/footer.ejs") %>